ctransformers
sentence-transformers==3.0.1

# LangChain ecosystem
langchain==0.2.7
langchain-community==0.2.7
langchain-text-splitters==0.2.2
langchain-groq==0.1.6
langserve==0.2.2
langsmith==0.1.84

# Pinecone integration (modern way)
langchain-pinecone
pinecone

flask
pypdf
python-dotenv

-e .

python-dotenv
